body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Header Section */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    padding: 0 16px;
    background: #1b263b;
    border-bottom: 5px solid #415c8f;
}

.title-text {
    color: #e0e1dd;
}

/* Body Section */

.main {
    background: #0d1b2a;
}

.fight-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border: 1px solid pink;
}

.playerName,
.rivalName,
.playerHealth,
.rivalHealth,
.attack-text {
    color: #e0e1dd;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.playerHealth,
.rivalHealth {
    font-size: 16px;
}

.battle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.battle-text {
    color: #ee9b00;
    font-size: 32px;
}

.move-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid greenyellow;
}

.request-attack {
    color: #e9d8a6;
    font-size: 18px;
    font-weight: bold;
}

.attack-container {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.attack-info img {
    filter: brightness(100%);
    transition: filter 0.3s ease;
}
.attack-info img:hover {
    filter: brightness(150%);
    cursor: pointer;
    /* color: #415c8f; */
}