html,
body {
    margin: 0;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Header Section */

.header,
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 72px;
    background: #1b263b;
}

.header {
    border-bottom: 5px solid #415c8f;
}

.footer {
    border-top: 5px solid #415c8f;
    min-height: 3em;
}

.headerText {
    color: #e0e1dd;
    font-size: 32px;
    font-weight: bold;
}

.footerText {
    color: #e0e1dd;
    font-size: 16px;
}

/* Body Section */

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background: #0d1b2a;
}

.fightSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.playerName,
.rivalName {
    margin-bottom: 10px;
}

.playerName,
.rivalName,
.playerHealth,
.rivalHealth,
.attackText {
    color: #e0e1dd;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.playerHealth,
.rivalHealth {
    font-size: 16px;
    margin-top: 10px;
}

.battleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.battleText {
    color: #ee9b00;
    font-size: 32px;
}

.moveSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.requestAttack {
    color: #e9d8a6;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.attackContainer {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.attackInfo img {
    filter: brightness(100%);
    transition: filter 0.3s ease;
}
.attackInfo img:hover {
    filter: brightness(150%);
    cursor: pointer;
}

.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.restartButton {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #e0e1dd;
    background: #3882F6;
}

.restartButton:hover {
    background: #5895f8;
}